<a href="https://colab.research.google.com/github/JulioRamirez01/Tarea_diabetes/blob/main/Diabetes_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%pwd

'/content'

In [ ]:
ls -la '/content/drive/MyDrive/TSC_VARIABLES ANALYSIS SCORE'

total 24
-rw------- 1 root root 23873 Oct 16 19:58 diabetes.csv
-rw------- 1 root root   143 Oct 17 19:37 diabetes.gsheet

In [ ]:
%cd '/content/drive/MyDrive/TSC_VARIABLES ANALYSIS SCORE'

/content/drive/MyDrive/TSC_VARIABLES ANALYSIS SCORE

In [ ]:
%pwd

'/content/drive/MyDrive/TSC_VARIABLES ANALYSIS SCORE'

In [ ]:
ls -la

total 24
-rw------- 1 root root 23873 Oct 16 19:58 diabetes.csv
-rw------- 1 root root   143 Oct 17 19:37 diabetes.gsheet

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from google.colab import auth
import gspread
from google.auth import default

auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

In [ ]:
ss = gc.open('diabetes')
ws = ss.worksheet('diabetes')
filas=ws.get_all_values()
df_feautures=pd.DataFrame(filas)
df_feautures.head(5)

,0,1,2,3,4,5,6,7,8
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,627,50,1
2,1,85,66,29,0,26.6,351,31,0
3,8,183,64,0,0,23.3,672,32,1
4,1,89,66,23,94,28.1,167,21,0

In [ ]:
df_feautures.columns=list(df_feautures.iloc[0,:])

In [ ]:
df_feautures.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,627,50,1
2,1,85,66,29,0,26.6,351,31,0

In [ ]:
df_feautures=df_feautures[1:]

In [ ]:
df_feautures.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,627,50,1
2,1,85,66,29,0,26.6,351,31,0
3,8,183,64,0,0,23.3,672,32,1
4,1,89,66,23,94,28.1,167,21,0
5,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df_feautures.shape

(768, 9)

In [ ]:
df_feautures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 1 to 768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    object
 1   Glucose                   768 non-null    object
 2   BloodPressure             768 non-null    object
 3   SkinThickness             768 non-null    object
 4   Insulin                   768 non-null    object
 5   BMI                       768 non-null    object
 6   DiabetesPedigreeFunction  768 non-null    object
 7   Age                       768 non-null    object
 8   Outcome                   768 non-null    object
dtypes: object(9)
memory usage: 54.1+ KB

In [ ]:
df_feautures['Pregnancies']=df_feautures['Pregnancies'].astype('int')

In [ ]:
df_feautures['BMI']=df_feautures['BMI'].astype('float')

In [ ]:
df_feautures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 1 to 768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    object
 2   BloodPressure             768 non-null    object
 3   SkinThickness             768 non-null    object
 4   Insulin                   768 non-null    object
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    object
 7   Age                       768 non-null    object
 8   Outcome                   768 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 54.1+ KB

In [ ]:
ls -la

total 24
-rw------- 1 root root 23873 Oct 16 19:58 diabetes.csv
-rw------- 1 root root   143 Oct 17 19:37 diabetes.gsheet

In [ ]:
df_feautures=pd.read_csv("diabetes.csv")

In [ ]:
df_feautures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df_feautures.groupby(['Pregnancies']).count()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
0,111,111,111,111,111,111,111,111
1,135,135,135,135,135,135,135,135
2,103,103,103,103,103,103,103,103
3,75,75,75,75,75,75,75,75
4,68,68,68,68,68,68,68,68
5,57,57,57,57,57,57,57,57
6,50,50,50,50,50,50,50,50
7,45,45,45,45,45,45,45,45
8,38,38,38,38,38,38,38,38
9,28,28,28,28,28,28,28,28
10,24,24,24,24,24,24,24,24
11,11,11,11,11,11,11,11,11
12,9,9,9,9,9,9,9,9
13,10,10,10,10,10,10,10,10
14,2,2,2,2,2,2,2,2
15,1,1,1,1,1,1,1,1
17,1,1,1,1,1,1,1,1

In [ ]:
df_feautures.groupby(['Pregnancies','Glucose'])['BloodPressure'].count()

Pregnancies  Glucose
0            57         1
             67         1
             73         1
             74         1
             78         1
                       ..
13           158        1
14           100        1
             175        1
15           136        1
17           163        1
Name: BloodPressure, Length: 536, dtype: int64

In [ ]:
df_feautures.groupby(['SkinThickness'])['Insulin'].count()

SkinThickness
0     227
7       2
8       2
10      5
11      6
12      7
13     11
14      6
15     14
16      6
17     14
18     20
19     18
20     13
21     10
22     16
23     22
24     12
25     16
26     16
27     23
28     20
29     17
30     27
31     19
32     31
33     20
34      8
35     15
36     14
37     16
38      7
39     18
40     16
41     15
42     11
43      6
44      5
45      6
46      8
47      4
48      4
49      3
50      3
51      1
52      2
54      2
56      1
60      1
63      1
99      1
Name: Insulin, dtype: int64

In [ ]:
df_feautures.groupby(['BMI','DiabetesPedigreeFunction','Age'])['Outcome'].count()

BMI   DiabetesPedigreeFunction  Age
0.0   0.102                     22     1
      0.174                     22     1
      0.189                     26     1
      0.232                     54     1
      0.256                     25     1
                                      ..
53.2  0.759                     25     1
55.0  0.496                     26     1
57.3  0.880                     22     1
59.4  2.420                     25     1
67.1  0.319                     26     1
Name: Outcome, Length: 768, dtype: int64

In [ ]:
df_feautures[['Outcome']].value_counts()

Outcome
0          500
1          268
dtype: int64

In [ ]:
df_feautures['Outcome'].mean()

0.3489583333333333

In [ ]:
268/768

0.3489583333333333

In [ ]:
df_scores=df_feautures['Outcome']
print(df_scores)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
df_Pregnancies=df_feautures['Pregnancies']
print(df_Pregnancies)

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [ ]:
pd.concat([df_Pregnancies,df_scores], axis=1)

     Pregnancies  Outcome
0              6        1
1              1        0
2              8        1
3              1        0
4              0        1
..           ...      ...
763           10        0
764            2        0
765            5        0
766            1        1
767            1        0

[768 rows x 2 columns]

In [ ]:
def woe_discrete(df, discrete_variable_name, god_bad_variable_df):
    df = pd.concat([df[discrete_variable_name],god_bad_variable_df], axis=1)
    df = pd.concat([df.groupby(df.columns.values[0], as_index = False)])[df.columns.values[1]].count(), 
    df.groupby(df.columns.values[0], as_index=False)[df.columns.values[1].mean()], 
    axis = 1
    df = df.iloc[0:, [0,1,3]]
    df.columns = [df.columns.values[0], 'n_obs', 'avg_BR']
    df['prop_n_obs'] = df['n_obs'] / df['n_obs'].sum()
    df = df.sort_values(['prop_n_obs'])
    df = df.reset_index(drop=True)
    return df

In [ ]:
df=pd.concat([df_feautures['Pregnancies'],df_scores], axis=1)
print(df)

     Pregnancies  Outcome
0              6        1
1              1        0
2              8        1
3              1        0
4              0        1
..           ...      ...
763           10        0
764            2        0
765            5        0
766            1        1
767            1        0

[768 rows x 2 columns]

In [ ]:
df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].count()

    Pregnancies  Outcome
0             0      111
1             1      135
2             2      103
3             3       75
4             4       68
5             5       57
6             6       50
7             7       45
8             8       38
9             9       28
10           10       24
11           11       11
12           12        9
13           13       10
14           14        2
15           15        1
16           17        1